.DS_Store
/.build/
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode

__pycache__/

/target/
/Cargo.lock
/Sources/*Rust/cargo/target
/Sources/*Rust/cargo/Cargo.lock
/Sources/*Rust/include/*.h
/Sources/*Rust/include/*.modulemap
/Sources/*Rust/lib/*.xcframework
/Sources/*Bindings/*.swift
