.DS_Store
/.build/
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode
Cargo.lock

__pycache__/

/target/
/Sources/UniFFITemplateRust/cargo/target
/Sources/UniFFITemplateRust/cargo/Cargo.lock
/Sources/UniFFITemplateRust/include/UniFFITemplateRust.h
/Sources/UniFFITemplateRust/include/UniFFITemplateRust.modulemap
/Sources/UniFFITemplateRust/lib/UniFFITemplateRust.xcframework
/Sources/UniFFITemplateBindings/UniFFITemplateBindings.swift
